@import url(reset.css);
body {
    background: url(../images/bg5.jpg) no-repeat;
    background-position: fixed;
    background-size: cover;
    height: 100vh;
}
h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    color: #fff;
    font-size: 100px;

}

